@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


:root {
  --primary-color: #B9001F;
}

body {
   width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}